version: '3.7'
services:
  db:
    image: postgres:10-alpine
    volumes:
      - postgres_data:/var/lib/postgres/data/
    ports:
      - '5432'
    environment:
      - POSTGRES_DB=matrimania_dev
      - POSTGRES_USER=matrimania
      - POSTGRES_PASSWORD=matrimania
  app:
    build:
      context: .
    ports:
      - "8000:8000"
    volumes:
      - ./app:/app
    command: >
      sh -c "python manage.py runserver 0.0.0.0:8000"
    env_file:
      - config/.env.dev
    depends_on:
      - db

volumes:
  postgres_data:
